<form (ngSubmit)="register()" [formGroup]="myForm" class="m-3">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" name="input name" id="name" placeholder="Nom" class="form-control text-capitalize" [ngClass]="{'is-invalid': name.hasError('required') && name.touched,'is-valid' : name.valid}">
    <div class="alert alert-danger mt-1" *ngIf="name.hasError('required') && name.touched">
      <small class="font-weight-bold">Ce champ est obligatoire.</small>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="text" name="input email" id="email" placeholder="Email" class="form-control" [ngClass]="{'is-invalid': (email.hasError('required') || email.hasError('email')) && email.touched,'is-valid' : email.valid}">
    <div class="alert alert-danger mt-1" *ngIf="email.hasError('required') && email.touched">
      <small class="font-weight-bold">Ce champ est obligatoire.</small>
    </div>
    <div class="alert alert-danger mt-1" *ngIf="email.hasError('email')">
      <small class="font-weight-bold">Ce champ a besoin d'être sous la forme : ...@... </small>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea  formControlName="comment" type="text" name="input comment" id="comment" placeholder="Comment" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="statusOption">Status</label>
    <select formControlName="state" class="form-control" id="statusOption">
      <option [value]="statusValues" *ngFor="let statusValues of clientStatus">{{statusValues}}</option>
    </select>
  </div>

  <div class="d-flex justify-content-end">
    <ng-content select="#removeClient"></ng-content>
    <button type="submit" class="btn btn-success m-3" [disabled]="myForm.invalid">Ajouter un client</button>
  </div>
</form>
