<app-bandeau titleText="Clients" leadText="list of clients"></app-bandeau>
<app-button buttonTitle="Add a client" (btnClick)="goToAdd()"></app-button>

<app-tableau [headerList]="heardersClients" tableDescription="Table of clients." >
  <tr *ngFor="let client of clients">
    <th scope="row">{{client.name| uppercase}}</th>
    <td>{{client.email}}</td>
    <td>{{client.comment}}</td>
    <td appColor [item]="client.state"> <!-- directive appColor -->
      <select [(ngModel)]="client.state" class="form-control" id="statusOption" (ngModelChange)="modifStatusClient(client)">
        <option [value]="statusValues" *ngFor="let statusValues of clientStatus">{{statusValues}}</option>
      </select>
    </td>
    <td>{{client.id}}</td>
    <td>
      <div ngbDropdown>
        <button class="btn btn-secondary" id="actionsClients" ngbDropdownToggle><bi name="gear-fill" class="text-center"></bi></button>
        <div ngbDropdownMenu aria-labelledby="actionsClients">
          <a ngbDropdownItem [routerLink]="['/clients','edit',client.id]">
            <bi name="pencil" class="text-center"></bi> - éditer
          </a>
          <button type="button" ngbDropdownItem (click)="removeClient(client)">
            <bi name="trash" class="text-center"></bi> - supprimer
          </button>
        </div>
      </div>
    </td>
  </tr>
</app-tableau>

<router-outlet></router-outlet>
