<form [formGroup]="orderForm" class="m-3" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="client">Client</label>
    <select formControlName="clientId" name="client" id="selec_client" class="form-control">
      <option [value]="client.id" *ngFor="let client of clientList">{{client.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="duration">Duration</label>
    <input formControlName="duration" type="number" name="input duration" id="duration" placeholder="0" class="form-control" [ngClass]="{'is-invalid': (duration.hasError('min') || duration.hasError('required')) && duration.touched,'is-valid':duration.valid}">
    <div class="alert alert-danger mt-1" *ngIf="duration.hasError('required') && duration.touched">
      <small class="font-weight-bold">Ce champ est obligatoire.</small>
    </div>
    <div class="alert alert-danger mt-1" *ngIf="duration.hasError('min') && duration.touched">
      <small class="font-weight-bold">Ce champ doit être supérieur à 0.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea formControlName="comment" name="comment" id="input comment" placeholder="Votre commentaire" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select formControlName="state" name="state" id="select_state" class="form-control">
      <option [value]="state" *ngFor="let state of orderStates">{{state}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="type">Type</label>
    <select formControlName="type" name="type" id="select_type" class="form-control">
      <option [value]="type" *ngFor="let type of orderTypes">{{type}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="tjmHt">TjmHt</label>
    <input formControlName="tjmHt" type="number" name="input tjmHt" id="tjmHt" placeholder="0" class="form-control" [ngClass]="{'is-invalid': (tjmHt.hasError('min') || tjmHt.hasError('required')) && duration.touched,'is-valid':tjmHt.valid}">
    <div class="alert alert-danger mt-1" *ngIf="tjmHt.hasError('required') && tjmHt.touched">
      <small class="font-weight-bold">Ce champ est obligatoire.</small>
    </div>
    <div class="alert alert-danger mt-1" *ngIf="tjmHt.hasError('min') && tjmHt.touched">
      <small class="font-weight-bold">Ce champ doit être supérieur à 0.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input formControlName="tva" type="number" name="input tva" id="tva" placeholder="0" class="form-control" [ngClass]="{'is-invalid': (tva.hasError('min') || tjmHt.hasError('required')) && duration.touched,'is-valid':tva.valid}">
    <div class="alert alert-danger mt-1" *ngIf="tva.hasError('required') && tva.touched">
      <small class="font-weight-bold">Ce champ est obligatoire.</small>
    </div>
    <div class="alert alert-danger mt-1" *ngIf="tva.hasError('min') && tva.touched">
      <small class="font-weight-bold">Ce champ doit être supérieur à 0.</small>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <ng-content></ng-content>
    <button type="submit" class="btn btn-success m-3" [disabled]="orderForm.invalid">{{buttonSubmitText}}</button>
  </div>
</form>
