<app-bandeau titleText="Orders" leadText="list of orders"></app-bandeau>
<app-button buttonTitle="Add a orders" (btnClick)="goToAdd()"></app-button>

<app-tableau [headerList]="heardersOrders" tableDescription="Table of orders.">
  <tr *ngFor="let order of orders">
    <th scope="row">{{order.id}}</th>
    <td>{{clients[order.clientId-1].name}}</td>
    <td>{{order.duration}}</td>
    <td>{{order.tva}}</td>
    <td>{{order.tjmHt}}</td>
    <td>{{order.comment}}</td>
    <td>{{order.type}}</td>
    <td appColor [item]="order.state">
      <select name="orderState" id="orderState" class="form-control" [(ngModel)]="order.state" (ngModelChange)="updateOrder(order)">
        <option [value]="state" *ngFor="let state of orderStates">{{state}}</option>
      </select>
    </td>
    <td>
      <div ngbDropdown>
      <button class="btn btn-secondary" id="actionsOrders" ngbDropdownToggle><bi name="gear-fill" class="text-center"></bi></button>
      <div ngbDropdownMenu aria-labelledby="actionsOrders">
        <a ngbDropdownItem [routerLink]="['/orders','edit',order.id]">
          <bi name="pencil" class="text-center"></bi> - éditer
        </a>
        <button type="button" (click)="deletOrder(order)" ngbDropdownItem>
          <bi name="trash" class="text-center"></bi> - supprimer
        </button>
      </div>
    </div>
  </td>
  </tr>
</app-tableau>
