@import 'theme';

:host-context(app-client-list) div{
  background-color: $color1;
}

:host-context(app-client-add) div{
  background-color: $color1;
}

:host-context(app-client-edit) div{
  background-color: $color1;
}

:host-context(app-order-list) div{
  background-color: $color2;
}

:host-context(app-order-add) div{
  background-color: $color2;
}

:host-context(app-order-edit) div{
  background-color: $color2;
}

:host-context(app-login) div{
  background-color: $color3;
}
