<app-bandeau titleText="Edit order"></app-bandeau>
<app-order-form *ngIf="order" [initialOrder]="order" buttonSubmitText="sauvegarder" (eventSub)="editOrder($event)">
  <button type="button" class="btn btn-danger m-3" (click)="deletOrder()">Supprimer</button>
</app-order-form>
