<div class="p-3">
  <table class="table table-hover">
    <caption *ngIf="tableDescription">{{tableDescription}}</caption>
    <thead>
      <tr>
        <th *ngFor="let header of headerList" scope="col">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <ng-content></ng-content>
    </tbody>
  </table>
</div>
