<app-bandeau titleText="Login"></app-bandeau>
<div class="d-flex justify-content-center">
  <button class="btn btn-danger m-3" (click)="clickDecrement()">-1</button>
  <button class="btn btn-success m-3" (click)="clickIncrement()">+1</button>
</div>
<div class="d-flex justify-content-center">
  <button class="btn btn-color3 m-3" (click)="toggleMenu()">Menu {{openMenuT}}</button>
</div>

<div *ngIf="!con" class="container">
  <form (ngSubmit)="login()" #myForm="ngForm">
    <div class="form-group">
      <label for="username">Name</label>
      <input type="text" name="username" id="username" placeholder="username" class="form-control" [(ngModel)]="user.userName" required [ngClass]="{'is-invalid': myForm.invalid}">
      <div class="alert alert-danger mt-1" *ngIf="myForm.invalid">
        <small class="font-weight-bold">Ce champ est obligatoire.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="password" class="form-control" [(ngModel)]="user.password" required [ngClass]="{'is-invalid': myForm.invalid}">
      <div class="alert alert-danger mt-1" *ngIf="myForm.invalid">
        <small class="font-weight-bold">Ce champ est obligatoire.</small>
      </div>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success m-3" [disabled]="myForm.invalid">Connexion</button>
    </div>
  </form>


</div>

<div *ngIf="con" class="container mt-3">
  <p class="text-center">Vous êtes connecté !</p>
  <div  class="d-flex justify-content-center">
    <button type="submit" class="btn btn-danger m-3" (click)="logout()">Deconnexion</button>
  </div>
</div>
