<app-client-form *ngIf="client" [clientInitial]="client" (submitted)="editClient($event)">
  <button type="button" class="btn btn-danger m-3" (click)="removeClient()" id="removeClient">Supprimer le client</button>
</app-client-form>
