/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'theme';

.class-inactif{
  background-color: $color1b;
}

.class-actif{
  background-color: $color1a;
}

.class-fini{
  background-color: $color2a;
}

.class-encours{
  background-color: $color2b;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
