<div class="m-3">
  <h1 class="text-center">Oops !</h1>
  <h2 class="text-center">404 Not Found</h2>
  <p class="text-center">La page que vous recherchez n'est pas référencé</p>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary" routerLink="/">Aller à la page d'accueil</button>
  </div>
</div>
